<div class="input-form-control-wrapper">
    <label class="control-label">LGA of Origin <b>*</b></label>
    <select
      name="lga"
      id="lga"
      class="form-control select-lga"
      required
    >
    </select>
  </div>