.verification-body {
  padding: 100px 10px;
  max-width: 900px;
  margin: auto;
}

.verification-body .main-title h3 {
  padding: 7px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px var(--dark-grey);
          box-shadow: 0px 0px 3px var(--dark-grey);
}

.verification-body .verification-sections {
  margin-top: 50px;
}

.verification-body .verification-sections .email-verification-section, .verification-body .verification-sections .phone-verification-section {
  background: var(--grey);
  height: 50px;
  position: relative;
  -webkit-transition: all 0.40s ease-in-out;
  transition: all 0.40s ease-in-out;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 10px 10px 5px 5px;
}

.verification-body .verification-sections .email-verification-section.active {
  height: 320px;
  padding-bottom: 20px;
}

.verification-body .verification-sections .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 10px;
  background: var(--grey-black);
  padding: 10px;
}

.verification-body .verification-sections .header-text .text {
  font-weight: 500;
}

.verification-body .verification-sections .toggle {
  -webkit-transition: all 0.40s ease-in-out;
  transition: all 0.40s ease-in-out;
}

.verification-body .verification-sections .toggle.active {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.verification-body .verification-sections .body-text .verified {
  font-weight: 500;
}

.verification-body .verification-sections .body-text .verified .email {
  color: var(--white);
}

.verification-body .verification-sections .body-text .verified .verify {
  color: var(--green);
}

.verification-body .verification-sections .phone-verification-section {
  height: 50px;
  overflow: hidden;
}

.verification-body .verification-sections .form-container.display {
  overflow: hidden;
  position: relative;
  max-width: 400px;
  height: 180px;
}

.verification-body .verification-sections .phone-verification-section.active {
  height: 320px;
}

.verification-body .verification-sections .header-title-small {
  font-weight: 500;
  padding: 5px 15px;
  font-size: var(--small);
}

.verification-body .verification-sections .body-form .v-message.error {
  background: #d6d6b3;
  padding: 10px;
  font-weight: 500;
  line-height: 20px;
  color: #a13030;
  border-radius: 0px 5px 5px 0px;
}

.verification-body .verification-sections .body-form .v-message.success {
  background: #d6d6b3;
  padding: 10px;
  line-height:20px;
  font-weight: 500;
  color: #30a139;
  border-radius: 0px 5px 5px 0px;
}

.verification-body .verification-sections .body-form .display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 3px;
  border-radius: 0px 5px 5px 0px;
  background: var(--grey-black);
}

.verification-body .verification-sections .body-form .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 120px;
  background: var(--grey);
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verification-body .verification-sections .body-form .code .flag {
  width: 40px;
  height: 20px;
  background-color: var(--white);
  position: relative;
}

.verification-body .verification-sections .body-form .code .flag::before {
  position: absolute;
  content: "";
  width: 30%;
  left: 0;
  z-index: 10;
  top: 0;
  bottom: 0;
  background: green;
}

.verification-body .verification-sections .body-form .code .flag::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 100%;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  background: green;
}

.verification-body .verification-sections .body-form .code .code-text {
  background: var(--white);
  padding: 3px 7px;
  font-weight: 500;
  color: var(--grey);
}

.verification-body .verification-sections .body-form .form-input-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  margin: 0;
}

.verification-body .verification-sections .body-form .form-input-wrapper input {
  border-radius: 0px 5px 5px 0px;
  background: var(--grey);
  border: none;
  -webkit-box-shadow: 0px 0px 3px var(--dark-grey);
          box-shadow: 0px 0px 3px var(--dark-grey);
}

.verification-body .verification-sections .body-form .phone-form1.not-active,.email-form1.not-active {
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-transition: all 0.40s ease-in-out;
  transition: all 0.40s ease-in-out;
}

.verification-body .verification-sections .body-form .form2 {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: all 0.40s ease-in-out;
  transition: all 0.40s ease-in-out;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: var(--grey);
}

.verification-body .verification-sections .body-form .phone-form2.active,.body-form .email-form2.form2.active{
  left: 0;
}


.verification-body .verification-sections .body-form .code-getter-wrapper {
  padding: 10px 10px 10px 0px;
  max-width: 100%;
  border-radius: 0px 5px 5px 0px;
  background: var(--grey-black);
  margin-bottom: 20px;
}

.verification-body .verification-sections .body-form .code-getter-wrapper .form-group {
  margin: 0;
}

.verification-body .verification-sections .body-form .code-getter-wrapper .form-group #code {
  background: var(--grey);
  border: none;
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: 0px 0px 3px var(--dark-grey);
          box-shadow: 0px 0px 3px var(--dark-grey);
  margin-left: 4px;
  max-width: 80%;
}

.verification-body .verification-sections .body-form .submit-button {
  outline: none;
  border: none;
  color: var(--text-color);
  padding: 7px 15px;
  border: 1px solid var(--dark-grey);
  font-weight: 500;
  margin-left: 4px;
  background-color: var(--grey-black);
  font-size: var(--smaller);
}

.resend-wrapper{
  padding-left:10px;
  font-weight: 500;
  cursor: pointer;
}

.resend-wrapper span{
  color:var(--blue)
}

.alert{
  background:var(--grey-black);
  color:var(--yellow)
}
/*# sourceMappingURL=verification.css.map */