<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/db.custom.css">
    <title><%- title %></title>
</head>
<body>
    <div class="container-fluids">
        <div class="wrapper">
            <%- include('../general/header') -%>
            <div class="password-changer card">
                <div class="password-changer-wrapper">
                    <header class="passoword-changer-header">
                        <div class="header-title">
                            <h1>Change Password</h1>
                        </div> 
                        <div class="header-text">
                            <h4>This page is to change <strong><%= name %></strong> password</h4>
                            <p>whose email is <strong><%= email %></strong></p>
                        </div>
                    </header>
                    <div class="password-changer-body">
                        <div class="password-changer-form">
                            <form action="/change/password" method="POST" enctype="application/x-www-form-urlencoded" class="password-form form-group">
                               <div class="res alert fade alert-success"></div>
                                <div class="form-group">
                                    <input type="password" name="new_password" placeholder="Enter new password" id="new_key" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Enter your new password*
                                    </div>
                               </div>
                               <div class="change-password-button">
                                   <button type="submit" class="submit-button text-center">Change</button>
                               </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/gsap_animation.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script>

        //---------------------------------------------
        //this is the reveal action part if the weebsite
        //----------------------------------------------
        gsap.from('.container-fluids', {duration: 2, y: '-30%', ease: 'bounce'})

        const b = document.querySelector('button'),
        f = document.querySelector('form');

        b.onclick = (e)=>{
            e.preventDefault()
            if(!f.checkValidity()){
                f.classList.add('was-validated');
                return
            }
            let params = window.location.search,
                url= '/change_password',
                reader = new URLSearchParams(params),
                getter = reader.get("id");
            
            const data = JSON.stringify(
                {
                    member_id : getter,
                    new_password : $('#new_key').val()
                }
            );
                
            $.ajax({
                type:"POST",
                url:url,
                data: data,
                contentType: "application/json",
                dataType:"text",
                success: res => {
                    $('.res').fadeOut().removeClass("fade").html(res).fadeIn(500);
                    $('#new_key').val("");
                    setTimeout(()=>{
                        window.location = '/membership/login'
                    })
                },
                catch: err => {
                    console.log(err)
                }
            })
        }
    </script>
</body>
</html>